<?xml version="1.0" encoding="UTF-8"?>
<game>
    <cityBonuses>
        <bonus earn="2" />
        <bonus earn="2" />
        <bonus earn="2" />
        <bonus earn="2" />
        <bonus earn="2" />
        <bonus earn="2" />
        <bonus earn="2" />
        <bonus earn="2" />
        <bonus earn="2" />
        <bonus earn="2" />
        <bonus earn="2" />
        <bonus earn="2" />
        <bonus earn="2" />
        <bonus earn="2" />
        <bonus earn="2" />
    </cityBonuses>
    <nobilityTrack len="4">
        <bonus position="2" earn="2" />
    </nobilityTrack>
    <politic>
        <color name="uno" councillors="4" cards="20" />
        <color name="due" councillors="4" cards="20" />
        <color name="tre" councillors="4" cards="20" />
        <color name="quattro" councillors="4" cards="20" />
        <color name="cinque" councillors="4" cards="20" />
        <color name="sei" councillors="4" cards="20" />
    </politic>

    <regions>
        <region name="coast">
            <bonus earn="2" />
            <cities>
                <city name="a" position="fps" color="efe">
                    <!--<near city="did" />-->

                </city>
                <city name="b" position="fps" color="efe" />
                <city name="c" position="fps" color="efe" />
                <city name="d" position="fps" color="efe" />
                <city name="e" position="fps" color="efe" />
            </cities>
            <permissionTiles>
                <permissionTile>
                    <cities>
                        <city name="a" />
                        <city name="a" />
                        <city name="a" />
                    </cities>

                    <bonus earn="2" />
                </permissionTile>
            </permissionTiles>
        </region>
        <region name="hills">
            <bonus earn="2" />
            <cities>
                <city name="f" position="fps" color="efe" />
                <city name="g" position="fps" color="efe" />
                <city name="h" position="fps" color="efe" />
                <city name="i" position="fps" color="efe" />
                <city name="l" position="fps" color="efe" />

            </cities>
            <permissionTiles>
                <permissionTile>
                    <cities>
                        <city name="f" />
                    </cities>

                    <bonus earn="2" />
                </permissionTile>
            </permissionTiles>
        </region>
        <region name="mountains">
            <bonus earn="2" />
            <cities>
                <city name="m" position="fps" color="efe" />
                <city name="n" position="fps" color="efe" />
                <city name="o" position="fps" color="efe" />
                <city name="p" position="fps" color="efe" />
                <city name="q" position="fps" color="efe" />

            </cities>
            <permissionTiles>
                <permissionTile>
                    <cities>
                        <city name="n" />
                    </cities>

                    <bonus earn="2" />
                </permissionTile>
            </permissionTiles>
        </region>
    </regions>
</game>